#root {
    height: 100vh;
    overflow: hidden;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

li {
    list-style-type: none;
    // cursor: pointer;
    padding: 15px 0;
}

.checked {
    color: #999999;
    background: #90e8b82e;
}

.chat-show {
    animation: chat-show .3s normal forwards ease-in-out;
}

.chat-hide {
    animation: chat-hide .25s normal forwards ease-in-out;
}

@keyframes chat-hide {
    from {
        opacity: 1;
        transform: scale(1, 1);
    }
    to {
        opacity: 0;
        transform: scale(0.6, 0.6);
    }
}

@keyframes chat-show {
    from {
        opacity: 0;
        transform: scale(0.8, 0.8);
    }
    20% {
        opacity: 0;
        transform: scale(0.8, 0.8);
    }
    60% {
        opacity: 1;
        transform: scale(1.01, 1.01);
    }
    to {
        transform: scale(1, 1);
    }
}