#root {
    height: 100vh;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

li {
    list-style-type: none;
    // cursor: pointer;
    padding: 15px 0;
}

.checked {
    color: #999999;
    background: #90e8b82e;
}